# $Header: /home/cvs/m/mo/mod-qos/src/test/appl_conf/httpd.conf.tmpl,v 2.3 2007-08-06 19:59:05 pbuchbinder Exp $

ServerName              127.0.0.1
StartServers            1
MinSpareThreads         5
MaxSpareThreads         75
ThreadsPerChild         64
MaxRequestsPerChild     300000
User                    ##USR##
Group                   users
ServerAdmin             webmaster@127.0.0.1
ServerRoot              ##ROOT##
DocumentRoot            ##ROOT##/htdocs
ServerSignature         off
HostnameLookups         off
UseCanonicalName        on
LockFile                ##ROOT##/logs/accept.lock
Timeout                 90
KeepAlive               on
MaxKeepAliveRequests    100
KeepAliveTimeout        10

Options                 FollowSymLinks Indexes
DefaultType             text/plain

LogFormat               "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %T #%P"

LogLevel                info
ErrorLog                ##ROOT##/logs/error1_log
TransferLog             ##ROOT##/logs/access1_log
PidFile                 ##ROOT##/logs/apache1.pid
CoreDumpDirectory       ##ROOT##/logs/

TypesConfig             conf/mime.types

NameVirtualHost         127.0.0.1:##QS_PORT_BASE5##
Listen                  127.0.0.1:##QS_PORT_BASE5##

<VirtualHost 127.0.0.1:##QS_PORT_BASE5##>
   ServerName           127.0.0.1

   ScriptAlias /cgi/ ##ROOT##/htdocs/cgi/
   ScriptAlias /cgi100/ ##ROOT##/htdocs/cgi/
   ScriptAlias /login/ ##ROOT##/htdocs/login/
   <Location ##ROOT##/htdocs/cgi/>
        Options ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Order allow,deny
        Allow from all
   </Location>
   <Location ##ROOT##/htdocs/login/>
        Options ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Order allow,deny
        Allow from all
   </Location>

</VirtualHost>
