#
# $Header: /home/cvs/m/mo/mod-qos/src/test/conf/uc1.conf.tmpl,v 2.19 2013-12-04 20:04:58 pbuchbinder Exp $
#
# mod_qos test configuration using single use cases
#
# See http://opensource.adnovum.ch/mod_qos/ for further
# details about mod_qos.
#
# Copyright (C) 2013 Pascal Buchbinder
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
# MA 02110-1301, USA.
#

ServerName              127.0.0.1
<IfModule worker.c>
StartServers            1
ServerLimit             1
MinSpareThreads         5
MaxSpareThreads         64
ThreadsPerChild         64
</IfModule>
<IfModule prefork.c>
StartServers            64
ServerLimit             64
MinSpareServers         4
MaxSpareServers         64
</IfModule>

MaxClients              64
MaxRequestsPerChild     0

User                    ##USR##
Group                   users
ServerAdmin             webmaster@127.0.0.1
ServerRoot              ##ROOT##
DocumentRoot            ##ROOT##/htdocs
ServerSignature         off
HostnameLookups         off
UseCanonicalName        on
LockFile                ##ROOT##/logs/accept.lock
Timeout                 30
KeepAlive               on
MaxKeepAliveRequests    100
KeepAliveTimeout        5

LimitRequestFields      30
QS_EnableInternalIPSimulation off

Options                 FollowSymLinks Indexes Includes
DefaultType             text/plain
AddType                 text/html .shtml
AddOutputFilter         INCLUDES .shtml

LogFormat               "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %T %{mod_qos_cr}e %{mod_qos_ev}e %{mod_qos_con}e id=%{UNIQUE_ID}e u=%{mod_qos_user_id}e %{qs_special}e %{content-length}i #%P"

LogLevel                warn
ErrorLog                ##ROOT##/logs/error_log
TransferLog             "|##ROOT##/../util/src/qsrotate -o ##ROOT##/logs/access_log -z -g 4 -s 3600 -f"
CustomLog               "|##ROOT##/../util/src/qslog -o ##ROOT##/logs/qs_log -f ISBDUQ" "%h %>s %b %D %{mod_qos_user_id}e %{mod_qos_ev}o '%v:%U'"

PidFile                 ##ROOT##/logs/apache.pid
CoreDumpDirectory       ##ROOT##/logs/

TypesConfig             conf/mime.types
LoadModule              proxy_module ##ROOT##/../httpd/modules/proxy/.libs/mod_proxy.so
LoadModule              proxy_http_module ##ROOT##/../httpd/modules/proxy/.libs/mod_proxy_http.so
LoadModule              qos_module ##ROOT##/../httpd/modules/qos/.libs/mod_qos.so
LoadModule              parp_module libexec/mod_parp.so

<IfDefine uc1b>
QS_ClientEventLimitCount 3 3
QS_SetEnvIfQuery         QS_Limit QS_Limit=yes
QS_ErrorPage             /error-docs/error.html
</IfDefine>

<IfDefine uc1u>
QS_SrvMinDataRate        120 1500 5
</IfDefine>

<IfDefine uc1e>
QS_ClientEventBlockCount 3 3
QS_SetEnvIfStatus        404 QS_Block
QS_SetEnvIfStatus        NullConnection    QS_Block
</IfDefine>

<IfDefine uc1h>
QS_ClientEventLimitCount 3 2
QS_SetEnvIfQuery         QS_Limit QS_Limit=yes
QS_ErrorPage             /error-docs/error_c.html
# allow access to content of the error page
SetEnvIf Request_URI     ^/error-docs/(.*) QS_ErrorPage=/error-docs/$1
</IfDefine>

<IfDefine uc1p>
QS_CondClientEventLimitCount 3  2        QS_CondLimit /htt/a
SetEnvIf                     Request_URI ^/htt/a      QS_Cond=/htt/a
QS_SetEnvIfQuery             QS_Limit    QS_CondLimit=yes
</IfDefine>

<IfDefine uc1q>
QS_ClientIpFromHeader        Y-Forwarded-For
</IfDefine>

<IfDefine uc1s>
QS_SessionKey             1234567890
QS_UserTrackingCookieName utc /error-docs/cookie.html
# note: redirects GET requests only
# SetEnvIf                Request_Method POST DISABLE_UTC_ENFORCEMENT
SetEnvIf                  DNT 1 DISABLE_UTC_ENFORCEMENT
</IfDefine>

<IfDefine uc1t>
LoadModule              unique_id_module ##ROOT##/../httpd/modules/metadata/.libs/mod_unique_id.so
QS_UserTrackingCookieName utc /error-docs/cookie.html
</IfDefine>

NameVirtualHost         127.0.0.1:##QS_PORT_BASE##
Listen                  127.0.0.1:##QS_PORT_BASE##

<VirtualHost 127.0.0.1:##QS_PORT_BASE##>
   ServerName                 127.0.0.1

   ProxyRequests              Off
   <Proxy *>
      Order deny,allow
      Allow from all
   </Proxy>

   ProxyPass                  /error-docs !
   ProxyPass                  /status !
   ProxyPass                  /test !
   ProxyPass                  /a !
   ProxyPass                  /b !
   ProxyPass                  /c !
   ProxyPass                  /cgi-local !
   ProxyPass                  /htt http://localhost:##QS_PORT_BASE6##/htt retry=0
   ProxyPassReverse           /htt http://localhost:##QS_PORT_BASE6##/htt

   ScriptAlias /cgi-local/    ##ROOT##/htdocs/cgi-local/
   ScriptAlias /a/            ##ROOT##/htdocs/cgi-local/
   ScriptAlias /b/            ##ROOT##/htdocs/cgi-local/
   ScriptAlias /c/            ##ROOT##/htdocs/cgi-local/
   ScriptAlias /x/            ##ROOT##/htdocs/cgi-local/

<IfDefine uc1r>
   QS_SessionKey             1234567890
   QS_UserTrackingCookieName utc /error-docs/cookie.html
   # note: redirects GET requests only
   # SetEnvIf                Request_Method POST DISABLE_UTC_ENFORCEMENT
   SetEnvIf                  DNT 1 DISABLE_UTC_ENFORCEMENT
</IfDefine>

<IfDefine uc1m>
   QS_SrvMaxConn              6
</IfDefine>

<IfDefine uc1n>
   QS_SrvMaxConnClose         10%
</IfDefine>

<IfDefine uc1a>
   QS_LocRequestLimitMatch    "^(/htt/a/|/htt/b/|/htt/c/).*$" 2

   QS_SetEnvIfQuery           QueryLimit query
   QS_EventRequestLimit       query                           2
</IfDefine>

<IfDefine uc1c>
   QS_SetEnvIfQuery           Limit QS_Cond=1
   QS_CondLocRequestLimitMatch "^(/a/|/b/|/c/).*$" 2 [0-9]+
</IfDefine>

<IfDefine uc1d>
   QS_LocRequestLimit         /a 2
</IfDefine>

<IfDefine uc1f>
   SetEnvIf Request_URI       /a limit
   QS_EventRequestLimit       limit                           2
</IfDefine>

<IfDefine uc1g>
   SetEnvIf Request_URI       /a limit=a
   SetEnvIf Request_URI       /b limit=b
   QS_RedirectIf              limit a  http://localhost/error
</IfDefine>

<IfDefine uc1i>
   QS_LocRequestPerSecLimit   / 10
   <Location /qos >
       SetHandler qos-viewer
   </Location>
</IfDefine>

<IfDefine uc1j>
   QS_EventLimitCount ALIMIT 3 2
   SetEnvIf User-Agent limitme ALIMIT   
</IfDefine>

<IfDefine uc1k>
   QS_MileStone deny "^GET /index.html "
   QS_MileStone deny "^GET /a/sleep.cgi "
</IfDefine>

<IfDefine uc1l>
   QS_LocKBytesPerSecLimitMatch ^/image.iso$ 3000
</IfDefine>

<IfDefine uc1o>
   SetEnvIf Request_URI  /index.html limit=a
   QS_EventPerSecLimit   limit 10
</IfDefine>

   <Location /cgi-local>
       Options ExecCGI -MultiViews +SymLinksIfOwnerMatch
       Order allow,deny
       Allow from all
   </Location>

</VirtualHost>
