# $Header$

ServerName              127.0.0.1
<IfModule worker.c> 
StartServers            1
ServerLimit             16
MinSpareThreads         5
MaxSpareThreads         75
ThreadsPerChild         64
</IfModule>
<IfModule event.c> 
StartServers            1
ServerLimit             16
MinSpareThreads         5
MaxSpareThreads         75
ThreadsPerChild         64
</IfModule>
<IfModule prefork.c>
StartServers            4
MinSpareServers         4
MaxSpareServers         16
ServerLimit             896
</IfModule>

MaxRequestsPerChild     300000
User                    ##USR##
Group                   users
ServerAdmin             webmaster@127.0.0.1
ServerRoot              ##ROOT##
DocumentRoot            ##ROOT##/htdocs
ServerSignature         off
HostnameLookups         off
UseCanonicalName        on
LockFile                ##ROOT##/logs/accept.lock
Timeout                 90
KeepAlive               on
MaxKeepAliveRequests    100
KeepAliveTimeout        10

Options                 FollowSymLinks Indexes
DefaultType             text/plain

LogFormat               "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %T %{mod_qos_cr}o #%P"

LogLevel                info
ErrorLog                "|##ROOT##/../util/src/qsrotate -o ##ROOT##/logs/error1_log -z -g 4 -s 43200 -f -b 536870912"
TransferLog             "|##ROOT##/../util/src/qsrotate -o ##ROOT##/logs/access1_log -z -g 4 -s 600 -f -b 536870912"
TransferLog             "|##ROOT##/../util/src/qslog -o ##ROOT##/logs/qs1_log -f I....R.B.T"
PidFile                 ##ROOT##/logs/apache1.pid
CoreDumpDirectory       ##ROOT##/logs/

TypesConfig             conf/mime.types
LoadModule              qos_module ##ROOT##/../httpd/modules/qos/.libs/mod_qos.so

NameVirtualHost         127.0.0.1:##QS_PORT_BASE5##
Listen                  127.0.0.1:##QS_PORT_BASE5##


# -------------------------------------------------
# mod_proxy test backend (no qos rules)
<VirtualHost 127.0.0.1:##QS_PORT_BASE5##>
   ServerName           127.0.0.1

   ScriptAlias /cgi/ ##ROOT##/htdocs/cgi/
   ScriptAlias /cgi100/ ##ROOT##/htdocs/cgi/
   ScriptAlias /login/ ##ROOT##/htdocs/login/
   <Location />
        <IfDefine deny_filter>
        Include conf/qos_deny_filter.conf
        </IfDefine>
        <IfDefine permit_filter>
        Include appl_conf/qos_permit_filter.conf
        </IfDefine>
   </Location>
   <Location /cgi>
        Options ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Order allow,deny
        Allow from all
   </Location>
   <Location /login>
        Options ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Order allow,deny
        Allow from all
   </Location>

   ScriptAlias /sn-fb-dstk-war/getActivities ##ROOT##/htdocs/demo/sn-fb-dstk-war/getActivities
   <Location /sn-fb-dstk-war>
        Options ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Order allow,deny
        Allow from all
   </Location>

</VirtualHost>

NameVirtualHost         127.0.0.1:##QS_PORT_BASE8##
Listen                  127.0.0.1:##QS_PORT_BASE8##

# -------------------------------------------------
# performance test backend
<VirtualHost 127.0.0.1:##QS_PORT_BASE8##>
   ServerName           127.0.0.1

   QS_LocRequestLimitMatch    "^(/appl/multiple/a/|/appl/multiple/b/|/appl/multiple/c/|/appl/multiple/d/|/appl/multiple/e/|/appl/multiple/f/|/appl/multiple/g/|/appl/multiple/h/|/appl/multiple/i/|/appl/multiple/k/|/appl/multiple/l/|/appl/multiple/m/|/appl/multiple/n/|/appl/multiple/o/).*$"  1
   QS_LocRequestLimitMatch    "^(/appl/multiple/p/|/appl/multiple/q/|/appl/multiple/r/|/appl/multiple/s/|/appl/multiple/t/|/appl/multiple/u/).*$"  1
   QS_LocRequestLimitMatch    "^(/appl/a/|/appl/b/|/appl/c/).*$"  1
   QS_LocRequestLimitMatch    "^/appl/d/.*$"                      1
   QS_LocRequestLimitMatch    "^/appl/e/.*$"                      1
   QS_LocRequestLimitMatch    "^(/appl/e/|/appl/f/|/appl/g/).*$"  1
   QS_LocRequestLimitMatch    "^(/appl/hh/|/appl/i/|/appl/j/).*$" 100
   QS_LocRequestLimitMatch    "^(/appl/k/|/appl/l/|/appl/m/).*$"  1
   QS_LocRequestLimitMatch    "^(/appl/n/|/appl/o/|/appl/p/).*$"  1
   QS_LocRequestLimitMatch    "^(/appl/q/|/appl/r/|/appl/s/).*$"  1
   QS_LocRequestLimitMatch    "^(/appl/t/|/appl/y/|/appl/z/).*$"  1
   QS_LocRequestLimitMatch    "^(/appl/u/|/appl/x/|/appl/1/).*$"  1
   QS_LocRequestLimitMatch    "^(/appl/001/|/appl/002/|/appl/003/).*$"  1


   # load additional rules
   Include ##ROOT##/conf/lrl.conf
   Include ##ROOT##/conf/qos_viewer.conf

</VirtualHost>
