#
# $Header: /home/cvs/m/mo/mod-qos/src/demo/conf/httpd2.conf.tmpl,v 1.3 2014-01-09 08:13:06 pbuchbinder Exp $
#
# mod_qos test configuration using mod_proxy
#
# See http://opensource.adnovum.ch/mod_qos/ for further
# details about mod_qos.
#
# Copyright (C) 2007-2014 Pascal Buchbinder
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
# MA 02110-1301, USA.
#

ServerName              127.0.0.1
StartServers            1
ServerLimit             1
MinSpareThreads         5
MaxSpareThreads         32
ThreadsPerChild         32
MaxClients              32
MaxRequestsPerChild     0

User                    ##USR##
Group                   users
ServerAdmin             webmaster@127.0.0.1
ServerRoot              ##ROOT##
DocumentRoot            ##ROOT##/../test/htdocs/demo
ServerSignature         off
HostnameLookups         off
UseCanonicalName        on
LockFile                ##ROOT##/logs/accept2.lock
Timeout                 30
KeepAlive               on
MaxKeepAliveRequests    100
KeepAliveTimeout        5

LimitRequestFields      30
LimitRequestLine        7168

Options                 FollowSymLinks Indexes Includes
DefaultType             text/plain
AddType                 text/html .shtml
AddOutputFilter         INCLUDES .shtml

LogFormat               "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %T %{mod_qos_cr}e %{mod_qos_ev}e %{mod_qos_con}e id=%{UNIQUE_ID}e %{qs_special}e %{content-length}i %{mod_qos_user_id}e #%P"

LogLevel                warn
ErrorLog                ##ROOT##/logs/error2_log
PidFile                 ##ROOT##/logs/apache2.pid
CoreDumpDirectory       ##ROOT##/logs/

TypesConfig             ../test/conf/mime.types

Listen                  server1:##QS_PORT_BASE1##
<VirtualHost server1:##QS_PORT_BASE1##>
   SSLEngine              off
   ServerName             server1    

   TransferLog            "|##ROOT##/../util/src/qsrotate -o ##ROOT##/logs/access2_log -z -g 4 -s 3600 -f"
   
   ScriptAlias /a/1.jpg ##ROOT##/../test/htdocs/demo/a/1.jpg
   ScriptAlias /a/2.jpg ##ROOT##/../test/htdocs/demo/a/1.jpg
   ScriptAlias /a/3.jpg ##ROOT##/../test/htdocs/demo/a/1.jpg
   ScriptAlias /a/4.jpg ##ROOT##/../test/htdocs/demo/a/1.jpg
   ScriptAlias /a/5.jpg ##ROOT##/../test/htdocs/demo/a/1.jpg
   ScriptAlias /a/6.jpg ##ROOT##/../test/htdocs/demo/a/1.jpg
   ScriptAlias /a/7.jpg ##ROOT##/../test/htdocs/demo/a/1.jpg
   ScriptAlias /a/8.jpg ##ROOT##/../test/htdocs/demo/a/1.jpg
   ScriptAlias /a/9.jpg ##ROOT##/../test/htdocs/demo/a/1.jpg
   <Location /a>
        Options ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Order allow,deny
        Allow from all
   </Location>

   ScriptAlias /b ##ROOT##/../test/htdocs/demo/b
   <Location /b>
        Options ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Order allow,deny
        Allow from all
   </Location>
   
   ScriptAlias /c/1.jpg ##ROOT##/../test/htdocs/demo/c/1.jpg
   ScriptAlias /c/2.jpg ##ROOT##/../test/htdocs/demo/c/1.jpg
   ScriptAlias /c/3.jpg ##ROOT##/../test/htdocs/demo/c/1.jpg
   ScriptAlias /c/login.cgi ##ROOT##/../test/htdocs/demo/c/login.cgi
   <Location /c>
        Options ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Order allow,deny
        Allow from all
   </Location>

</VirtualHost>

