#
# $Header$
#
# mod_qos test configuration using use cases using multiple directives/features
#
# See http://mod-qos.sourceforge.net/ for further
# details about mod_qos.
#

ServerName              127.0.0.1

<IfDefine !ucnm>
<IfModule worker.c>
 StartServers            1
 ServerLimit             1
 MinSpareThreads         5
 MaxSpareThreads         64
 ThreadsPerChild         64
 MaxClients              64
 MaxRequestsPerChild     0
</IfModule>
<IfModule prefork.c>
 StartServers            64
 ServerLimit             64
 MinSpareServers         4
 MaxSpareServers         64
</IfModule>
</IfDefine>

<IfDefine ucnm>
<IfModule worker.c>
 StartServers            1
 ServerLimit             2
 MinSpareThreads         5
 MaxSpareThreads         32
 ThreadsPerChild         16
 MaxClients              32
 MaxRequestsPerChild     32
</IfModule>
<IfModule prefork.c>
 StartServers            10
 ServerLimit             32
 MinSpareServers         4
 MaxSpareServers         32
</IfModule>
</IfDefine>

User                    ##USR##
Group                   users
ServerAdmin             webmaster@127.0.0.1
ServerRoot              ##ROOT##
DocumentRoot            ##ROOT##/htdocs
ServerSignature         off
HostnameLookups         off
UseCanonicalName        on
LockFile                ##ROOT##/logs/accept.lock
Timeout                 30
KeepAlive               on
MaxKeepAliveRequests    100
KeepAliveTimeout        5

QS_EventCount           on

LimitRequestFields      30
QS_EnableInternalIPSimulation off

<IfDefine logonly>
QS_LogOnly              on
</IfDefine>

Options                 FollowSymLinks Indexes Includes
DefaultType             text/plain
AddType                 text/html .shtml
AddOutputFilter         INCLUDES .shtml

LogFormat               "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %T %{mod_qos_cr}e %{mod_qos_ev}e %{mod_qos_con}e id=%{UNIQUE_ID}e %{qs_special}e %{content-length}i #%P"

<IfDefine ucnu>
LogFormat               "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %D %{mod_qos_cr}e %{mod_qos_ev}e %{mod_qos_con}e id=%{UNIQUE_ID}e %{qs_special}e %{content-length}i #%P"
</IfDefine>

LogLevel                warn
<IfDefine !ucnr>
ErrorLog                ##ROOT##/logs/error_log
</IfDefine>
TransferLog             "|##ROOT##/../util/src/qsrotate -o ##ROOT##/logs/access_log -z -g 4 -s 14400 -f"
CustomLog               "|##ROOT##/../util/src/qslog -o ##ROOT##/logs/qs_log -f ISBDUQ" "%h %>s %b %D %{mod_qos_user_id}e %{mod_qos_ev}o '%v:%U'"

PidFile                 ##ROOT##/logs/apache.pid
CoreDumpDirectory       ##ROOT##/logs/

TypesConfig             conf/mime.types
LoadModule              status_module ##ROOT##/../httpd/modules/generators/.libs/mod_status.so
LoadModule              proxy_module ##ROOT##/../httpd/modules/proxy/.libs/mod_proxy.so
LoadModule              proxy_http_module ##ROOT##/../httpd/modules/proxy/.libs/mod_proxy_http.so
LoadModule              qos_module ##ROOT##/../httpd/modules/qos/.libs/mod_qos.so
LoadModule              parp_module libexec/mod_parp.so
LoadModule              setenvifplus_module libexec/mod_setenvifplus.so
<IfDefine ucnd>
LoadModule              qtest_module ##ROOT##/../httpd/modules/qtest/.libs/mod_qtest.so
</IfDefine>
<IfDefine ucnm>
LoadModule              qtest_module ##ROOT##/../httpd/modules/qtest/.libs/mod_qtest.so
</IfDefine>

NameVirtualHost         127.0.0.1:##QS_PORT_BASE##
Listen                  127.0.0.1:##QS_PORT_BASE##

<IfDefine ucnb>
QS_ClientIpFromHeader         X-Forwarded-For
SetEnvIfPlus                  Request_Query limitme  QS_Limit01
SetEnvIfPlus                  User-Agent    allowme  QS_Limit02
QS_ClientEventLimitCount      10    5 QS_Limit01
QS_ClientEventLimitCount      10000 5 QS_Limit02
</IfDefine>

<IfDefine ucnbhash>
SetEnvIfPlus                  Request_Query (.*) myhash=$1
SetHashHeaderPlus             X-Hash myhash
QS_ClientIpFromHeader         X-Hash
SetEnvIfPlus                  Request_URI / QS_Limit01
QS_ClientEventLimitCount      2  3 QS_Limit01
</IfDefine>

<IfDefine ucnc>
SetEnvIfPlus                  Request_URI     ^(/htt/aaa/|/htt/ccc/).* EventApp
QS_SetEnvIfStatus             302                          Event302
QS_SetEnvIf                   EventApp Event302        QS_LimitCL=1
QS_ClientEventLimitCount      3 2 QS_LimitCL
</IfDefine>

<IfDefine ucncc>
QS_SrvMaxConn                 10000
SetEnvIf                      QS_SrvConn [0-9]{2,} MaxConnections
<Location />
QS_DenyEvent                  +max deny MaxConnections
</Location>
</IfDefine>

<IfDefine fleet>
SetEnvIfPlus Request_URI ^/fleet\-service/Tracking.*$ QS_Limit
QS_ClientEventLimitCount 100 10
QS_ErrorResponseCode 509
<Location />
 ResponseSetEnvIfPlus QS_ErrorNotes 067 RATELIMITED=1
 ResponseHeaderPlus set Retry-After 1 env=RATELIMITED
</Location>
</IfDefine>

<IfDefine ucnd>
SetEnvIfPlus                  Request_URI     ^(/htt/aaa/|/htt/ccc/|/qsforbidden/limit).* EventApp
# note: "qsforbidden=true" is set by mod_qtest when accessing /qsforbidden/
QS_SetEnvRes                  qsforbidden   blockme          EventForbidden
QS_SetEnvRes                  qsforbidden   true             EventForbidden
QS_SetEnvRes                  qsforbidden   you              EventForbidden
QS_SetEnvIf                   EventApp      EventForbidden   QS_LimitCL=1
QS_ClientEventLimitCount      3             2                QS_LimitCL
</IfDefine>

<IfDefine ucne>
QS_ClientIpFromHeader         X-Forwarded-For
</IfDefine>

<IfDefine ucng>
QS_SrvMaxConnPerIP                      100
Browsermatch  (slurp|googlebot|bingbot) Spider
SetEnvIf      QS_IPConn                 [3-9][0-9]*  ThreeOrMoreConnections
QS_SetEnvIf   ThreeOrMoreConnections    Spider       LimitSpider=yes
QS_RedirectIf LimitSpider               .*           http://127.0.0.1/redirect.html
</IfDefine>

<IfDefine ucni>
SetEnvIf                      Content-Length [0-9]{2,} SerialPostSize
SetEnvIf                      Request_URI ^/a SerialPostURL
QS_SetEnvIf                   SerialPostSize SerialPostURL   QS_Serialize=yes
QS_ClientSerialize
</IfDefine>

<IfDefine ucnip>
# max 4 req/sec
SetEnvIf                      User-Agent max4persec QS_SrvSerialize=1
SetEnvIf                      User-Agent max4persec QS_Delay=250
QS_EventRequestLimit                                QS_SrvSerialize 4
QS_SrvSerialize                                     on
</IfDefine>

<IfDefine ucnj>
Timeout                       320
QS_ClientIpFromHeader         Y-Forwarded-For
SetEnvIfPlus                  User-Agent serializeme QS_Serialize=yes
QS_ClientSerialize
</IfDefine>

<IfDefine ucnl>
QS_ClientIpFromHeader         Y-Forwarded-For

QS_MileStone       deny       "^[A-Z]+ /index.html\?id=1 HTTP/...$"
QS_MileStone       deny       "^[A-Z]+ /index.html\?id=2 HTTP/...$"
QS_MileStone       deny       "^[A-Z]+ /index.html\?id=3 HTTP/...$"

SetEnvIfPlus      Request_URI  ^/index.html$ URILIMIT
SetEnvIfPlus    Request_Query  ^id=1$        QUERYLIMIT1
SetEnvIfPlus    Request_Query  ^id=2$        QUERYLIMIT2
SetEnvIfPlus    Request_Query  ^id=3$        QUERYLIMIT3
QS_SetEnvIf     URILIMIT  QUERYLIMIT1        ClientLimit1=y
QS_SetEnvIf     URILIMIT  QUERYLIMIT2        ClientLimit2=y
QS_SetEnvIf     URILIMIT  QUERYLIMIT3        ClientLimit3=y
QS_SetEnvIf     URILIMIT  QUERYLIMIT1        QS_Cond=1
QS_SetEnvIf     URILIMIT  QUERYLIMIT2        QS_Cond=2
QS_SetEnvIf     URILIMIT  QUERYLIMIT3        QS_Cond=3
QS_CondClientEventLimitCount    2    5       ClientLimit1 ^1$ 
QS_CondClientEventLimitCount    2    5       ClientLimit2 ^2$
QS_CondClientEventLimitCount    2    5       ClientLimit3 ^3$

ResponseHeaderPlus set X-ClientLimit1 ${ClientLimit1_Counter}
ResponseHeaderPlus set X-ClientLimit2 ${ClientLimit2_Counter}
ResponseHeaderPlus set X-ClientLimit3 ${ClientLimit3_Counter}
</IfDefine>

<IfDefine ucno>
QS_CondClientEventLimitCount 2 3 CL01 _CL01_URI_
QS_ClientIpFromHeader        Y-Forwarded-For
</IfDefine>

<IfDefine ucnq>
QS_ClientIpFromHeader        Y-Forwarded-For

SetEnvIfPlus Request_Query   id=([0-9]+) ClientLimit1=$1
QS_ClientEventLimitCount     10 5        ClientLimit1
QS_SetReqHeader              X-ClientLimit1 ClientLimit1
QS_SetReqHeader              Y-ClientLimit1_Counter ClientLimit1_Counter late

QS_ClientGeoCountryDB        conf/GeoIPCountryWhois.csv
QS_SetReqHeader              X-QS_Country QS_Country

QS_SrvMaxConn                10
QS_SetReqHeader              X-QS_SrvConn QS_SrvConn
</IfDefine>

<IfDefine ucnr>
QS_ClientIpFromHeader        Y-Forwarded-For

QS_ClientEntries             100
SetEnvIfPlus Request_Query   id=([0-9]+) QS_Limit=$1
QS_ClientEventLimitCount     10 5        QS_Limit
SetEnvIfPlus Request_Query   product=([0-9]+) QS_LimitSP=$1
QS_ClientEventLimitCount     12 4        QS_LimitSP

ErrorLog                     "|##ROOT##/../util/src/qsexec -e \'mod_qos.067.: access denied, QS_ClientEventLimitCount rule: event=(.*), max=([0-9]+), current=([0-9]+), age=0, c=(.*), id=\' -p \'##ROOT##/sync.sh $1 $2 $3 $4\' |##ROOT##/../util/src/qsrotate -o ##ROOT##/logs/error_log"

</IfDefine>

<IfDefine ucnt>
QS_ClientEventBlockCount     10 2
QS_SetEnvIfStatus            404               QS_Block
QS_SetEnvIfStatus            NullConnection    QS_Block
</IfDefine>
<IfDefine ucnt2>
QS_ClientEventBlockExcludeIP 127.0.0.1
</IfDefine>
<IfDefine ucnt3>
QS_ClientEventBlockCount     10 2
QS_SetEnvIfStatus            404               QS_Block
QS_SetEnvIfStatus            403               QS_Block=5
QS_SetEnvIfStatus            NullConnection    QS_Block
</IfDefine>

<IfDefine ucnt4>
QS_ClientEventBlockCount     10 2
QS_SrvMaxConnPerIP           2
QS_SetEnvIfStatus            QS_SrvMaxConnPerIP QS_Block
</IfDefine>

<IfDefine ucnu>
SetEnvIfPlus Request_Query (.*) mod_qos_user_id=$1
</IfDefine>

<IfDefine ucncust01>
SetEnvIfPlusNoCase Remote_Addr (.*) RemoteIP=$1
SetEnvIfPlusNoCase Y-Forwarded-For (.*) XForward=$1
RequestHeaderPlus set Y-Forwarded-For ${RemoteIP} env=!XForward
QS_ClientIpFromHeader Y-Forwarded-For
QS_ErrorResponseCode 503
QS_ErrorPage /errorpages/error.html
QS_ClientEventLimitCount 2 10 QS_LoginSession
SetEnvIfPlus         Request_URI              /htt/login EventApp
QS_SetEnvIfStatus    302                      Event302
QS_SetEnvIf          EventApp Event302        QS_LoginSession=1
</IfDefine>

<VirtualHost 127.0.0.1:##QS_PORT_BASE##>
   ServerName                 127.0.0.1

   ProxyRequests              Off
   <Proxy *>
      Order deny,allow
      Allow from all
   </Proxy>

   ProxyPass                  /error-docs !
   ProxyPass                  /status !
   ProxyPass                  /test !
   ProxyPass                  /console !
   ProxyPass                  /a !
   ProxyPass                  /b !
   ProxyPass                  /c !
   ProxyPass                  /qos !
   ProxyPass                  /cgi-local !
   ProxyPass                  /qsforbidden !
   ProxyPass                  /htt http://127.0.0.1:##QS_PORT_BASE6##/htt retry=0
   ProxyPassReverse           /htt http://127.0.0.1:##QS_PORT_BASE6##/htt

   ScriptAlias /cgi-local/    ##ROOT##/htdocs/cgi-local/
   ScriptAlias /a/            ##ROOT##/htdocs/cgi-local/
   ScriptAlias /b/            ##ROOT##/htdocs/cgi-local/
   ScriptAlias /c/            ##ROOT##/htdocs/cgi-local/
   ScriptAlias /x/            ##ROOT##/htdocs/cgi-local/
   ScriptAlias /images/       ##ROOT##/htdocs/cgi-local/

<IfDefine ucns>
   SetEnvIf Host server[0-9] ValidHostHeader
   <Location />
     QS_DenyEvent +requiresValidHostHeader deny !ValidHostHeader
   </Location>
</IfDefine>

<IfDefine ucna>
   # Documentation's sample configuration:
   QS_ErrorPage                  /error-docs/error.html
   QS_LocRequestLimitDefault                              10
   QS_LocRequestLimitMatch       "^.*\.gif$"              5
   QS_LocRequestLimit            /images                  8
   QS_LocRequestLimit            /a                       4
   QS_LocKBytesPerSecLimit       /a                       3000
   QS_LocRequestLimitMatch       "^(/b/|/c/).*$"          3
</IfDefine>
<IfDefine ucnavip>
   QS_VipHeaderName              auth drop
</IfDefine>

<IfDefine ucnb>
   <Location />
      # redirect after 5 requests except "allowme" client
      SetEnvIfPlus               QS_Limit01_Counter 5            QS_Redirect=1 late
      SetEnvIfPlus               QS_Limit02_Counter [1-9][0-9]* !QS_Redirect   late
   </Location>
   QS_RedirectIf                 QS_Redirect (.+) http://127.0.0.1/redirect.html?c=$1
</IfDefine>

<IfDefine ucnt3>
   <Location />
      QS_DenyQuery +id1 deny .*blockme.*
   </Location>
</IfDefine>

<IfDefine ucnq>
   <Location />
     RequestHeaderPlus       set X-ClientLimit1_Counter ${ClientLimit1_Counter} late
   </Location>
</IfDefine>

<IfDefine ucnf>
   SetEnvIfPlus                  Request_Query limitMe limitEvent
   QS_EventLimitCount            limitEvent 5 3
   QS_RedirectIf                 limitEvent_Counter (3) http://127.0.0.1/redirect.html?c=$1
</IfDefine>

<IfDefine ucnk>
   SetEnvIfPlusNoCase            Cookie JSESSIONID  hasSession
   SetEnvIfPlus                  Request_URI ^/content limitUrl
   QS_SetEnvIf                   !hasSession limitUrl limitAccess=yes
   QS_EventLimitCount            limitAccess 2 2
</IfDefine>

<IfDefine ucnh>
   # max five requests to /htt/service posting more than 9 bytes
   SetEnvIf                      Content-Length [0-9]{2,} MaxPostSize
   SetEnvIf                      Request_URI /htt/service MaxPostURL
   QS_SetEnvIf                   MaxPostSize MaxPostURL   MaxPost=yes
   QS_EventRequestLimit          MaxPost                  4
   # no chunked post here (otherwise, we can't limit the req body size)
   SetEnvIf                      Request_Method POST      IsPost
   SetEnvIf                      Content-Length [0-9]     HasContentLength
   QS_SetEnvIf                   IsPost !HasContentLength ChunkedPost=yes
   <Location /htt>
     QS_DenyEvent                +denychunked deny        ChunkedPost
   </Location>
</IfDefine>

   <Location /cgi-local>
       Options ExecCGI -MultiViews +SymLinksIfOwnerMatch
       Order allow,deny
       Allow from all
   </Location>

<IfDefine ucnj>
   QS_LocRequestLimitDefault                              30
   <Location /status>
       SetHandler server-status
   </Location>
</IfDefine>

<IfDefine ucnm>
   SetEnvIfPlus Request_Query errorpage QS_ErrorPage=/error-docs/error.html
   QS_LocRequestLimitDefault                              30
   <Location /status>
       SetHandler server-status
       QS_DenyQuery +id01 deny dontallowme
   </Location>
</IfDefine>

<IfDefine ucno>
   SetEnvIfPlus Request_URI "/aaa/" CL01_URI
   SetEnvIfPlus Request_URI "/aaa/" QS_Cond=${QS_Cond}_CL01_URI_
   SetEnvIfPlus Request_Query AU10 CL01_EVENT
   QS_SetEnvIf CL01_EVENT CL01_URI CL01=true
</IfDefine>

<IfDefine ucnp>
   # start page url
   SetEnvIfPlus Request_URI   ^/aaa/index.html$ CL01_URI=application
   # application code (only if start url has been set)
   SetEnvIfPlus Request_Query application=([a-zA-Z0-9]+) CL01_APP=${CL01_URI}=$1
   ResponseHeaderPlus add Set-Cookie ${CL01_APP}

   # fetch application cookie
   SetEnvIfPlus Cookie application=([a-zA-Z0-9]+) CL01_COOKIE=$1
   # detect error page
   SetEnvIfPlus Request_URI ^/error CL01_ERR=/aaa/index.html?application=${CL01_COOKIE}
   QS_RedirectIf CL01_ERR (.+) http://localhost$1
</IfDefine>

<IfDefine ucnr>
   <Location /console>
       SetHandler qos-console
   </Location>
</IfDefine>

</VirtualHost>
