#
# $Header: /home/cvs/m/mo/mod-qos/src/test/conf/httpd.conf.tmpl,v 2.24 2007-09-06 18:34:34 pbuchbinder Exp $
#
# mod_qos test configuration using mod_proxy
#
# See http://sourceforge.net/projects/mod-qos/ for further
# details about mod_qos.
#
# Copyright (C) 2007 Pascal Buchbinder
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
# MA 02110-1301, USA.
#

ServerName              127.0.0.1
StartServers            1

ServerLimit             16
MinSpareThreads         5
MaxSpareThreads         75
ThreadsPerChild         64
#MinSpareServers         5
#MaxSpareServers         10

MaxClients              896
MaxRequestsPerChild     0
User                    ##USR##
Group                   users
ServerAdmin             webmaster@127.0.0.1
ServerRoot              ##ROOT##
DocumentRoot            ##ROOT##/htdocs
ServerSignature         off
HostnameLookups         off
UseCanonicalName        on
LockFile                ##ROOT##/logs/accept.lock
Timeout                 90
KeepAlive               on
MaxKeepAliveRequests    100
KeepAliveTimeout        5

QS_SrvConnTimeout       3

Options                 FollowSymLinks Indexes
DefaultType             text/plain

LogFormat               "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %T %{mod_qos_cr}o %{mod_qos_ev}o #%P"

LogLevel                info
ErrorLog                ##ROOT##/logs/error_log
TransferLog             ##ROOT##/logs/access_log
TransferLog             "|##ROOT##/../tools/qslog -o ##ROOT##/logs/qs_log -f I....R.B.T.Q"
PidFile                 ##ROOT##/logs/apache.pid
CoreDumpDirectory       ##ROOT##/logs/

TypesConfig             conf/mime.types
LoadModule              status_module ##ROOT##/../httpd/modules/generators/.libs/mod_status.so
LoadModule              qos_module ##ROOT##/../httpd/modules/qos/.libs/mod_qos.so
LoadModule              proxy_module ##ROOT##/../httpd/modules/proxy/.libs/mod_proxy.so
LoadModule              proxy_http_module ##ROOT##/../httpd/modules/proxy/.libs/mod_proxy_http.so

NameVirtualHost         127.0.0.1:##QS_PORT_BASE##
Listen                  127.0.0.1:##QS_PORT_BASE##

<VirtualHost 127.0.0.1:##QS_PORT_BASE##>
   ServerName                 127.0.0.1

   # -----------------------------------------------------------------
   # sample configuration using mod_proxy
   # -----------------------------------------------------------------

   ProxyRequests              Off
   <Proxy *>
      Order deny,allow
      Allow from all
   </Proxy>

   ProxyPass                  /error-docs !
   ProxyPass                  /status !
   ProxyPass                  /qos !

   ProxyPass                  /htt http://server1:##QS_PORT_BASE6##/htt
   ProxyPassReverse           /htt http://server1:##QS_PORT_BASE6##/htt

   ProxyPass                  / http://127.0.0.1:##QS_PORT_BASE5##/
   ProxyPassReverse           / http://127.0.0.1:##QS_PORT_BASE5##/


   # -----------------------------------------------------------------
   # request level control
   # -----------------------------------------------------------------

   QS_ErrorPage               /error-docs/error.html

   QS_LocRequestLimitDefault                 30
   QS_LocRequestLimit         /cgi            5
   QS_LocRequestLimit         /cgi100       100
   QS_LocRequestLimit         /test          50
   QS_LocRequestLimitMatch    "^.*\.gif$"     2

   QS_VipHeaderName           mod-qos-vip
   QS_SessionTimeout          3
   #QS_SessionCookieName       mm
   #QS_SessionCookiePath       /x
   QS_SessionKey              12345678

   QS_SrvMaxConn                             40
   QS_SrvMaxConnClose                        20
   QS_SrvMaxConnPerIP                        10

   BrowserMatch "pass"                       QS_VipRequest=yes
   SetEnvIf     Request_URI /cgi/index2.cgi  QS_VipRequest=yes
   #SetEnvIf     Remote_Addr 127.0.0.1       QS_VipRequest=yes
   <Directory /error-docs>
      SetHandler              default
   </Directory>

   <Location /status>
       SetHandler server-status
   </Location>

   <Location /qos>
       SetHandler qos-viewer
   </Location>

</VirtualHost>

NameVirtualHost         server1:##QS_PORT_BASE1##
Listen                  server1:##QS_PORT_BASE1##

<VirtualHost server1:##QS_PORT_BASE1##>
   ServerName                 server1

   # -----------------------------------------------------------------
   # sample configuration using mod_proxy
   # -----------------------------------------------------------------

   ProxyRequests              Off
   <Proxy *>
      Order deny,allow
      Allow from all
   </Proxy>

   ProxyPass                  /error-docs !
   ProxyPass                  /status !
   ProxyPass                  /qos !
   ProxyPass                  / http://127.0.0.1:##QS_PORT_BASE5##/
   ProxyPassReverse           / http://127.0.0.1:##QS_PORT_BASE5##/

   # -----------------------------------------------------------------
   # connection level control
   # -----------------------------------------------------------------

   QS_SrvMaxConn                            800
   QS_SrvMaxConnClose                       600
   QS_SrvMaxConnPerIP                        10

   QS_LocRequestLimit         /no           200

   #QS_SrvMaxConnExcludeIP           192.168.32.

   BrowserMatch "(MSIE 5\.)"  QS_KeepAliveTimeout=7
   <Directory /error-docs>
      SetHandler              default
   </Directory>

   <Location /status>
       SetHandler server-status
   </Location>

   <Location /qos>
       SetHandler qos-viewer
   </Location>

</VirtualHost>

NameVirtualHost         server1:##QS_PORT_BASE2##
Listen                  server1:##QS_PORT_BASE2##

SSLCipherSuite          RC4-MD5:EXP-RC4-MD5
SSLSessionCacheTimeout  864000
SSLProtocol             all
SSLMutex                file:##ROOT##/logs/ssl_mutex
SSLSessionCache         shmht:##ROOT##/logs/ssl_cache(33554432)
SSLRandomSeed           startup builtin

<VirtualHost server1:##QS_PORT_BASE2##>
   SSLCertificateKeyFile  ssl/key.pem
   SSLCertificateFile     ssl/cert.pem
   SSLVerifyDepth         10
   SSLEngine on
   ServerName             server1

   ProxyRequests              Off
   <Proxy *>
      Order deny,allow
      Allow from all
   </Proxy>

   ProxyPass                  /error-docs !
   ProxyPass                  /status !
   ProxyPass                  /qos !
   ProxyPass                  / http://127.0.0.1:##QS_PORT_BASE5##/
   ProxyPassReverse           / http://127.0.0.1:##QS_PORT_BASE5##/

   QS_ErrorPage               /error-docs/error.html
   SetEnvIf   Host (.*):.*    QS_ErrorPage=/error-docs/$1.html
   QS_LocRequestLimit         /cgi            5

   <Location /status>
       SetHandler server-status
   </Location>

   <Location /qos>
       SetHandler qos-viewer
   </Location>

</VirtualHost>
