
ServerRoot     ##ROOT##
User           ##USR##
Group          users
ServerName     127.0.0.1

ServerAdmin    ##USR##@example.com
DocumentRoot   ##ROOT##/htdocs
ErrorLog       logs/error_log
LogLevel       warn

LogFormat      "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" %T cr=%{mod_qos_cr}e ev=%{mod_qos_ev}e con=%{mod_qos_con}e id=%{UNIQUE_ID}e sp=%{qs_special}e cl=%{content-length}i uid=%{mod_qos_user_id}e k=%k country=%{QS_Country}e srcConn=%{QS_SrvConn}e allConn=%{QS_AllConn}e #%P"
TransferLog    "|##ROOT##/../util/src/qsrotate -o ##ROOT##/logs/access_log -z -g 4 -s 21600 -f"
CustomLog      "|##ROOT##/../util/src/qslog -o ##ROOT##/logs/qslog.csv -f ISBDUQMA" "%h %>s %b %D %{mod_qos_user_id}e %{mod_qos_ev}o %{QS_AllConn}e %{QS_AllConn}e"

LoadModule     setenvifplus_module ##ROOT##/../install/modules/.libs/mod_setenvifplus.so
<IfDefine qtest>
LoadModule     qtest_module ##ROOT##/../install/modules/.libs/mod_qtest.so
</IfDefine>
TypesConfig    conf/mime.types
Options        FollowSymLinks Indexes Includes
PidFile        logs/apache.pid

StartServers             1
MinSpareThreads         25
MaxSpareThreads         75 
ThreadsPerChild         25
MaxRequestWorkers      150
MaxConnectionsPerChild   0

Timeout                 20
KeepAlive               on
MaxKeepAliveRequests    50
KeepAliveTimeout         5
RequestReadTimeout       header=0 body=0

SSLProtocol              all -SSLv2 -SSLv3
SSLCipherSuite           EDH:EECDH:!aNULL:!eNULL:!LOW:!MD5:!EXP:!ADH:!DSS:!ECDSA:!3DES:!RC4:!SEED:!CAMELLIA+SHA1
SSLSessionCacheTimeout   864000
SSLRandomSeed startup    builtin

QS_EnableInternalIPSimulation off

<IfDefine hasSrvMaxConnCloseLimit>
QS_SrvMaxConnClose 50%
QS_LocRequestLimitDefault 1
</IfDefine>

Listen         ##QS_PORT_BASE##
<VirtualHost    *:##QS_PORT_BASE##>
   ServerName   127.0.0.1

<IfDefine hasSrvMaxConnCloseLimit>
   QS_LocRequestLimitDefault 1
</IfDefine>

   <Location /qos>
      SetHandler qos-viewer
   </Location>

</VirtualHost>

<VirtualHost    *:##QS_PORT_BASE##>
   ServerName   server1

<IfDefine hasSrvMaxConnCloseLimit>
   QS_LocRequestLimitDefault 30
</IfDefine>

   <Location /qos>
      SetHandler qos-viewer
   </Location>

</VirtualHost>

<VirtualHost    *:##QS_PORT_BASE##>
   ServerName   server2

<IfDefine hasSrvMaxConnCloseLimit>
   QS_LocRequestLimitDefault 30
</IfDefine>

   <Location /qos>
      SetHandler qos-viewer
   </Location>

</VirtualHost>

<VirtualHost    *:##QS_PORT_BASE##>
   ServerName   server3

<IfDefine hasSrvMaxConnCloseLimit>
   QS_LocRequestLimitDefault 30
</IfDefine>

   <Location /qos>
      SetHandler qos-viewer
   </Location>

</VirtualHost>
